<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Llama Vues</title>
</head>
<body>

    <div id="fact">
        <p v-for="llamaHum">{{ llamaHum }}</p>
        <p v-for="llamaAura">{{ llamaAura }}</p>
        <p v-for="llamaSpit">{{ llamaSpit }}</p>
        <p v-for="llamaAlpaca">{{ llamaAlpaca }}</p>
        <p v-for="llamaFertilizer">{{ llamaFertilizer }}</p>
        <p v-for="llamaHeight">{{ llamaHeight }}</p>
        <p v-for="llamaAngry">{{ llamaAngry }}</p>
        <p v-for="llamaEmperor">{{ llamaEmperor }}</p>
        <p v-for="llamaGodfather">{{ llamaGodfather }}</p>
        <p v-for="llamaEgg">{{ llamaEgg }}</p>
      
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <script src="mainvue.js"></script>
    
</body>
</html>