:root {
    --displayfont: 'Fascinate', cursive;
    --mainfont: 'Strait', sans-serif;
    --grey: rgb(225, 230, 230);
    --black-red: rgb(31, 12, 7);
}

h1 {
    font-family: var(--displayfont);
    color: white;
    margin: 1rem;
}

body {
    background-color: var(--grey);
}

.header {
    text-align: center;
    background-color: var(--black-red);
    padding: .8rem;
    margin: 2rem 0;
}

.container {
    max-width: 80rem;
    margin: auto;
    text-align: center;
}

.comparison {
    display: flex;
    justify-content: space-between;
    font-family: 'Strait';
}

.comparison-item {
    margin: 1rem;
    min-width: 35rem;
    line-height: 2rem;
    background-color: white;
    padding: 1rem;
}


.comparison li {
    list-style-type: none;
    padding: .25rem;
}

.comparison-item:hover {
    color: white;
    margin: 2rem;
    background-color: var(--black-red);
}

#llama {
    text-align: left;
}

#alpaca {
    text-align: right;
}

h2.active {
    font-size: 2rem;
}