/* likely using caching from the music-json list, that's why everything's sans-serif */

html {
    font-family:'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    background-color: #16161d;
}
h1 {
    color: white;
    text-align: center;
    font-size: 2.5rem;
}
.track-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.track {
    width: 144px;
    border: 3px solid black;
    color: white;
    background: #2d4054;
    text-align: center;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 10px 0;
}
.track.no-change {
    border-color: white;
}
.track.up {
    border-color: #2c9e8f;
}
.track.down {
    border-color: #e01664;
}
.track h3 {
    margin: 0;
    padding: 0;
    font-size: 16px;
}
.track img {
    width: 100%;
    max-width: 53px;
}