<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.3.1/p5.min.js"></script>
    <title>Quiz</title>
</head>
<body>
    <!-- <div id="shapeQuiz" v-cloak>
        <form>
            <fieldset>
                <legend>Question</legend>
                <div>
                    <h3>Which shape is called kiki and which is called bouba?</h3>
                    <label>The left shape is: </label>
                    <select name="" id ="" v-model="left">
                        <option v-for="left in firstQuestion" v-bind:value="left.value">{{left.name}}</option>
                    </select>
                    <label>The right shape is: </label>
                    <select name="" id="" v-model="right">
                        <option v-for="right in firstQuestion" v-bind:value="right.value">{{right.name}}</option>
                    </select>
                </div>
                <div>
                    <h3>Which shape is called takete and which is called maluma?</h3>
                    <label>The left shape is: </label>
                    <select name ="" id="" v-model="left">
                        <option v-for="left in secondQuestion" v-bind:value="left.value">{{left.name}}</option>
                    </select>
                    <label>The right shape is: </label>
                    <select name="" id="" v-model="right">
                        <option v-for="right in secondQuestion" v-bind:value="right.value">{{right.name}}</option>
                    </select>
                </div>
            </fieldset>
        </form>
        <div class="output">
            <h3>Results</h3>
            <div>
                <p>Kiki vs. Bouba</p>
                <p>You called the left shape {{left}}</p>
                <p>You called the right shape {{right}}</p>
            </div>
            <div>
                <p>Takete vs. Maluma</p>
                <p>You called the left shape {{left}}</p>
                <p>You called the right shape {{right}}</p>
            </div>
        </div>
    </div> -->

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <script src="quiz-script.js"></script>
    
</body>
</html>